body, html {
  margin: 0;
}


.parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-black {
  background-color: black;
}

#myVideo {
  width: 80%;
  background-size: cover;
}

.hero-container {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column 
}